
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    color: #112D4E;
}

.Chatbot-card {
    background-color: #f5f4f4;
    margin: 30px;
}

.container-inside-left-card-zara{
    margin: 30px;
}

/* ChatBot layout */

.div-zara {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 370px 370px;
}

.div-zara .left-card-zara {
    grid-column: 1/5;
    grid-row: 1/12;
}

.div-zara .full-chatbot-layout-zara {
    grid-column: 5/13;
    grid-row: 1/11;
    margin: 50px 120px 50px 20px;
}

.div-zara .chat-input-zara {
    grid-column: 5/13;
    grid-row: 11/12;
}

/* ------------------- */

.chat-text-input-data-qa{
    margin-left: 20px;
    width: 90%;
}

.title-zara {
    margin-bottom: 20px;
    font-size: 40px;
    width: 70%;
    font-weight: bolder;
}

.desc-zara-1 {
    margin: 20px 0px 50px 0px;
    font-size: 16px;
    width: 70%;
}

.desc-zara-2 {
    margin-top: 40px;
    font-size: 14px;
}

.chip-container-zara2{
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    &::-webkit-scrollbar {
        width: 0px; /* Chrome, Safari, Opera */
    }
}

.chip-data-zara2{
    margin-right: 10px;
}

/* ======== Bagian input Chatnya =========== */

.chat-input-zara{
    display: flex;
}

.chat-text-input-data-qa {
    flex: 1;
}

.div-action-button-stack-zara {
    margin-left: 10px;
    margin-top: 7px;
    flex: 0.1;
}

/*===============================================*/

.grid-profile{
    padding: 20px;
}

.grid-chat{
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid-chat-for-table{
    padding: 20px 0px 20px 0px;
    max-width: 900px;
}

.chat-full-div{
    border-bottom: 1px solid #C1C1C1;
}

/* for scroll table */

.grid-chat-for-table{
    overflow: auto;
    overflow-y: hidden;
}

.grid-chat-for-table::-webkit-scrollbar{
    height: 15px;
}

.grid-chat-for-table::-webkit-scrollbar-track{
    background: #F5F4F4;
}

.grid-chat-for-table::-webkit-scrollbar-thumb{
    background: #F5F4F4;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* for scroll entire zara chat */

.full-chatbot-layout-zara{
    height: 665px;
    overflow: auto;
    overflow-x: hidden;
}

.full-chatbot-layout-zara::-webkit-scrollbar{
    width: 15px;
}

.full-chatbot-layout-zara::-webkit-scrollbar-track{
    background: #F5F4F4;
}

.full-chatbot-layout-zara::-webkit-scrollbar-thumb{
    background: #F5F4F4;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*=========================================*/

.ag-theme-alpine{
    /* --ag-background-color: #F5F4F4; */
    --ag-header-background-color: #F8F8F8;
    --ag-row-border-color: transparent;
    --ag-row-hover-color: #F8F0FC;
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
}

/*=========================================*/



#segmented .mantine-SegmentedControl-label{
    padding: 5px 20px 5px 20px;
    font-weight: 400;
}

#segmented .mantine-SegmentedControl-labelActive{
    color: black;
    /* font-weight: 600; */
}

#segmented 	.mantine-SegmentedControl-active{
    /* border-left: 1px solid #eacbfa;
    border-right: 1px solid #eacbfa; */
    background-color: #F8F0FC;
}